#mainDiv{
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 200px;
    height: 150px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgb(127, 255, 212) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: flex;
    flex-direction: column;
    transition: .5s;
}
#mainDiv:hover{
    scale: 1.2;
}
.head{
    text-align: center;
}
.btn{
    margin: auto;
    width: 80%;
    height: 35px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(127, 255, 212);
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    transition: .5s;
}
.btn:hover{
    background-color: black;
    color: aquamarine;
    scale: 1.1;
}

